@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Vollkorn|Raleway');

.navbar {
  background-color: violet;
  border-bottom: solid 3px black;
  top: 0;
  padding: 2%;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
  display: flex;
}

.nav-item a {
  align-items: flex-end;
  color: yellow;
}

ul{
 text-align: center;
  list-style-position: inside;
  font-size: 30px;
  font-family: 'Raleway', serif;
  color: yellow;

}

.thumbnail-gallery {
  border: solid 10px firebrick;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
}

div {
  /*   padding:.25 0em; */
  width: 25%;
  text-align: center;
  margin: .5em;
  border: solid darkblue .25em;
}

img {
  width: 100%;
}

.album1 {
  background-color: grey;
  color: white;
}

.album2 {
  background-color: gold;
  color: white;

}

.album3 {
  background-color: green;
  color: white;
}

.album4 {
  background-color: red;
  color: white;
}

.album5 {
  background-color: darkgrey;
  color: white;
}

.album6 {
  background-color:#2F0903;
  color: white;
}

body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
}


footer {
  background-color: violet;
  border-top: solid 3px yellow;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

a:link {
  font-size: 2em;
  text-decoration: none;
  color: yellow;

}

a:hover {
  color: red;
}

a:vistited {
  color: yellow;
}

img {
  display: inline;
}

.icon {
  color: red;
}

nav {
  width:100%;
  top:0;
  margin:0;
  position:fixed;
}
ul.nav {
  margin:0;
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  
}

ul.nav li {
  font-size: 2em;
  padding:0.5em;
}

.nav a { 
  text-decoration:none;
  color:white;
}


.icon {
  display:none;
}
.nav button {
  background:none;
  color:white;
  border:none;
  font-size:1em;
  padding:0;
}

@media screen and (max-width:1035px) {
  
  ul.nav li:not(:first-child){
    display:none;
  }
    ul.nav {
      flex-direction:column;
    }
    
    ul.nav li.icon{
      display:block;
      position:absolute;
      top:0;
      left:0;
    }
  ul.nav.responsive li{
    display:block;
  }
}